# Default ignored files
/../../Lesson-3-Homework-for-Lecture-2.4./.idea/shelf/
/../../Lesson-3-Homework-for-Lecture-2.4./.idea/workspace.xml
# Ignored default folder with query files
/../../Lesson-3-Homework-for-Lecture-2.4./.idea/queries/
# Datasource local storage ignored files
/../../Lesson-3-Homework-for-Lecture-2.4./.idea/dataSources/
/../../Lesson-3-Homework-for-Lecture-2.4./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../Lesson-3-Homework-for-Lecture-2.4./.idea/httpRequests/
