# Default ignored files
/../../Homework-for-Lecture-2.6./.idea/shelf/
/../../Homework-for-Lecture-2.6./.idea/workspace.xml
# Ignored default folder with query files
/../../Homework-for-Lecture-2.6./.idea/queries/
# Datasource local storage ignored files
/../../Homework-for-Lecture-2.6./.idea/dataSources/
/../../Homework-for-Lecture-2.6./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../Homework-for-Lecture-2.6./.idea/httpRequests/
