# Default ignored files
/../../Lesson2Homework for Lecture 2.3./.idea/shelf/
/../../Lesson2Homework for Lecture 2.3./.idea/workspace.xml
# Ignored default folder with query files
/../../Lesson2Homework for Lecture 2.3./.idea/queries/
# Datasource local storage ignored files
/../../Lesson2Homework for Lecture 2.3./.idea/dataSources/
/../../Lesson2Homework for Lecture 2.3./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../Lesson2Homework for Lecture 2.3./.idea/httpRequests/
